In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
tract_income = gpd.read_parquet('ca_tract_incomes.parquet')

In [3]:
tract_income

,GEOID,median_household_income,median_home_value,per_capita_income,geometry
0,06037554001,55703.0,450200.0,23331.0,"POLYGON ((5987925.784 2275112.258, 5988249.105..."
1,06037554002,56452.0,461200.0,22520.0,"POLYGON ((5987299.089 2275049.015, 5987348.882..."
2,06037554101,42969.0,453200.0,19127.0,"POLYGON ((5992628.264 2276367.468, 5992690.382..."
3,06037554103,81480.0,460200.0,34880.0,"POLYGON ((5992635.820 2276956.239, 5992710.707..."
4,06037554104,63625.0,464800.0,20344.0,"POLYGON ((5993599.563 2274986.574, 5993703.488..."
...,...,...,...,...,...
8052,06115040800,69159.0,254500.0,32816.0,"POLYGON ((5058959.284 4180341.579, 5059024.590..."
8053,06115040901,57969.0,205000.0,25904.0,"POLYGON ((5041586.069 4219922.530, 5041642.867..."
8054,06115040902,45250.0,NaN,19183.0,"POLYGON ((5071766.110 4217339.958, 5071993.551..."
8055,06115041000,83194.0,327200.0,39049.0,"POLYGON ((5028575.474 4260876.310, 5028615.848..."
8056,06115041100,45434.0,205500.0,28558.0,"POLYGON ((5105889.350 4303734.816, 5105901.755..."

In [4]:
sd_income = tract_income[tract_income.GEOID.str.startswith('06073')]

In [5]:
sb_income = tract_income[tract_income.GEOID.str.startswith('06071')]

In [6]:
riverside_income = tract_income[tract_income.GEOID.str.startswith('06065')]

In [7]:
orange_income = tract_income[tract_income.GEOID.str.startswith('06059')]

In [9]:
income_counties = pd.concat([sd_income,sb_income,riverside_income,orange_income], axis = 0)

In [10]:
income_counties

,GEOID,median_household_income,median_home_value,per_capita_income,geometry
3995,06073016809,93500.0,442300.0,34675.0,"POLYGON ((6356264.930 1875989.112, 6356373.941..."
3996,06073016810,86442.0,456400.0,32102.0,"POLYGON ((6356070.107 1891633.170, 6356084.247..."
3997,06073016811,71250.0,392600.0,28095.0,"POLYGON ((6359599.903 1884610.154, 6359828.308..."
3998,06073016901,90859.0,496200.0,33304.0,"POLYGON ((6332393.436 1902845.350, 6332761.116..."
3999,06073016902,93750.0,460300.0,34894.0,"POLYGON ((6352081.727 1903549.063, 6352082.072..."
...,...,...,...,...,...
7952,06059086502,58324.0,307800.0,15282.0,"POLYGON ((6056014.028 2258298.771, 6056405.129..."
7953,06059086601,49632.0,431700.0,15681.0,"POLYGON ((6048038.060 2258664.856, 6048550.594..."
7954,06059086602,54875.0,459700.0,19355.0,"POLYGON ((6048031.954 2256024.097, 6048142.470..."
7955,06059086701,82240.0,430200.0,23838.0,"POLYGON ((6037599.208 2259980.254, 6037660.773..."
7956,06059086702,66970.0,466000.0,21370.0,"POLYGON ((6041973.700 2256071.297, 6042035.634..."

In [11]:
type(income_counties)

geopandas.geodataframe.GeoDataFrame

In [12]:
#income_counties.to_parquet('income_counties.parquet')

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')
  """Entry point for launching an IPython kernel.